@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p, li, button {
    font-family: 'Roboto', sans-serif;
}

h1, h3, p, li {
    color: $primary-text;
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 35px 150px;

    .logo {
        cursor: pointer;
    }

    .nav-wrapper {
        margin-left: auto;
        margin-right: 25px;

        .nav-list {
            display: flex;
            gap: 30px;
            margin-right: 4px;

            li {
                list-style-type: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 23px;
                cursor: pointer;
            }
        }
    }
}

.button-primary {
    background: $primary-bg;
    border-radius: 25px;
    width: 153px;
    height: 43px;
    border: none;
    font-weight: 400;
    font-size: 15px;
    color: $secondary-text;
    cursor: pointer;

    &.transparent {
        border: 2px solid $primary-border;
        color: $primary-text;
        background: transparent;
    }
}

.main-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 54px;

    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .text-default {
            margin-bottom: 36px;
            width: 717px;
        }
    
        .main-buttons {
            display: flex;
            margin-bottom: 55px;
        }

        .main-benefits-wrapper {
            display: flex;
            margin-bottom: 40px;

            .main-check {
                height: 22px;
                margin-right: 11px;
            }

            .main-benefits {
                padding-right: 63px;
            }
        }
    }

    .main-image {
        height: 528px;
    }
}

.text-default {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}

.page-title {
    padding-bottom: 5px;
    color: $page-title-color;
    font-size: 16px;
}

.main-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 23px;
}

.about-page-wrapper {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-title {
        width: 1040px;
    }
}

.steps-of-work {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-bg;

    .steps-desc {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .page-title {
        padding-top: 35px;
    }

    .main-title {
        margin-bottom: 95px;
    }

    .steps-container {
        width: 1270px;
        display: flex;
        justify-content: space-between;

        .step-wrapper {
            width: 388px;

            .steps-image {
                padding-bottom: 40px;
                padding-left: 20px;

                &.second {
                    padding-left: 90px;
                }

                &.third {
                    padding-left: 60px;
                }
            }

            .text-title {
                padding-bottom: 12px;
            }
        }
    }
}

.tracking-page {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .tracking-info-wrapper {
        width: 517px;
        display: flex;
        flex-direction: column;

        .text-default {
            width: 517px;
            padding-bottom: 16px;
        }
    }

    .tracking-image {
        padding-left: 118px;
    }
}

.delivery-wrapper {
    height: 85vh;
    background-color: $secondary-bg;
    display: flex;
    justify-content: center;
    padding-top: 70px;

    .delivery-form {
        display: flex;
    }

    .method-example {
        display: flex;
        flex-direction: column;
        margin-top: 440px;
        margin-right: 10px;

        .example-image {
            width: 50px;
            margin-left: 100px;
        }
    }

    .delivery-container {
        .order-summary {
            display: flex;
            padding: 20px 15px;
            gap: 10px;

            .text-default {

                &.big {
                    font-size: 20px;
                }

                &.bold {
                    font-weight: bold;
                    padding-left: 175px;
                }
            }
        }

        .info {
            display: flex;
            gap: 10px;
            padding: 23px 0px;

            .text-default {

                &.bold {
                    font-weight: bold;
                }

                &.gray {
                    color: $gray-color;
                }
            }
        }

        .template-form {

            .form-info {
                display: flex;
                flex-direction: column;

                .text-default {

                    &.gray {
                        color: $gray-color;
                        font-size: 20px;
                    }
                }
            }
        }

        .order-line {
            width: 500px;
            border-bottom: 1px solid $secondary-border;

            &.small {
                width: 468px;
            }
        }

        .template-form {
            width: 500px;
            height: 180px;
            border: 2px solid $secondary-border;
            border-radius: 3%;
            background-color: $primary-border;

            .form-one {
                display: flex;

                .form-info {
                    padding: 20px 15px;
                }

                .change-info {
                    cursor: pointer;

                    &.first {
                        padding: 18px 0px 0px 310px;
                    }

                    &.second {
                        padding: 18px 0px 0px 125px;
                    }
                }
            }

            .order-line {

                &.small {
                    margin-left: 16px;
                }
            }
        }

        .shipping-text {

            .text-default {
                font-size: 20px;
                padding: 30px 0;
            }
        }

        .shipping-method {

            .radio-input {
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                cursor: pointer;
            }

        }

        .shipping-method {
            display: flex;
            flex-direction: column;

            .template-form {

                &.second {
                    height: 215px;
                    margin-bottom: 15px;
                }
            }

            .method-wrapper {
                display: flex;
                padding: 20px 17px;

                .method-name {
                    
                    .text-default {

                        &.gray {
                            color: $gray-color;
                            padding-left: 16px;
                        }
                    }
                    
                }

            }

            .method-price {
                padding-left: 110px;

                &.first {
                    padding-left: 325px;
                }

                &.second {
                    padding-left: 302px;
                }

                .text-default {
                    
                    &.bold {
                        font-size: 20px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        
                    }
                }
            }
        }


        .button-primary {

            &.big {
                width: 500px;
                height: 71px;
                border-radius: 5px;
                font-size: 20px;
            }
        }
    }

    .delivery-description {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        margin-top: 230px;
    }
}

.map-wrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;

    .map-info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .text-default {
        padding-bottom: 12px;

    &.location {
        padding-bottom: 25px;
        text-decoration: none;
        color: $primary-text;
        cursor: pointer;
        }
    }
}

.questions-wrapper {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-title {
        padding-top: 100px;
    }

    .main-title {
        padding-bottom: 55px;
    }

    .question-field {
        display: flex;
        justify-content: space-between;
        width: 740px;


        .text-default {
            padding-bottom: 27px;

            &.big {
                font-size: 20px;
                padding-top: 15px;
            }
        }

        .check-box {
            width: 16px;
            height: 6px;

            &::before {
                content: "";
                width: 16px;
                border-bottom: 5px solid $primary-text;
                position: absolute;
                transform: translate(-15px, 22px) rotate(45deg);               
            }

            &::after {
                content: "";
                width: 16px;
                border-bottom: 5px solid $primary-text;
                position: absolute;
                transform: translate(-7px, 22px) rotate(-45deg);               
            }
        }
    }

    .q-line {
        width: 750px;
        border: 1px solid $primary-text;
        
    }
}

.final-page {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .final-bg {
        width: 1240px;
        height: 506px;
        border-radius: 25px;
        background-color: $secondary-bg;
        display: flex;
        
    }

    .final-container {
        width: 1240px;
        display: flex;
        position: absolute;

        .final-wrapper {
            width: 510px;
            padding-left: 90px;
            
            .text-default {
                width: 510px;
                padding-bottom: 16px;
            }

            .main-title {
                width: 470px;
            }
        }
    }

    .final-image {
        padding-left: 150px;
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .footer-line {
        width: 1240px;
        border: 1px solid $footer-line;
    }

    .footer-container {
        display: flex;
        align-items: center;
        padding: 35px 50px;
        gap: 600px;
        
        .footer-logo-container {

            .logo {
                padding-bottom: 10px;
                cursor: pointer;
            }
    
            .text-default {
    
                &.small {
                    padding-bottom: 20px;
                }
    
                &.smaller {
                    color: $page-title-color;
                }
            }
        }
    
        .footer-info-wrapper {
            display: flex;
            gap: 90px;
    
            .footer-nav-wrapper {
    
                .footer-list {
    
                    li {
                        list-style-type: none;
                        cursor: pointer;
                        padding-bottom: 9px;
                    }
                }
    
                .text-default {
    
                    &.small {
                    padding-bottom: 9px;
                    }
                }
            }
        }
    }
}

.text-default {

    &.small {
        font-size: 15px;
        color: $page-title-color;
    }

    &.smaller {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {

    .header-wrapper {
        width: 768px;
        display: flex;
        align-items: center;
        padding: 35px 50px;
    
        .nav-wrapper {
            margin-left: auto;
            margin-right: 25px;
        }
    }

    .main-wrapper {
        height: 70vh;
        display: flex;
        justify-content: center;
        margin-top: 24px;

        .main-container {
            width: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .text-default {
                margin-bottom: 16px;
                width: 600px;
            }

            .main-buttons {
                margin-bottom: 25px;
            }

            .main-benefits-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 600px;

                .main-check {
                    margin-right: 1px;
                }

                .main-benefits {
                    padding-right: 40px;
                }
            }
        }

        .main-image {
            width: 700px;
            height: 345px;
        }
    }
    
    .main-title {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 13px;
        line-height: 50px;
    }

    .about-page-wrapper {
        height: 65vh;
        display: flex;
        justify-content: center;

        .main-title {
            width: 700px;
            padding-left: 10px;
        }

        .about-page-image {
            width: 700px;
        }
    }

    .steps-of-work {
        height: 180vh;
        display: flex;

        .main-title {
            margin-bottom: 35px;
        }

        .steps-container {
            width: 768px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .step-wrapper {
                width: 500px;
                padding-bottom: 50px;

                .steps-image {
                    width: 500px;
                    padding: 0 0 20px 0;
                }

                .text-title {
                    font-size: 30px;
                }

                .text-default {
                    font-size: 20px;

                    &.first {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .tracking-page {
        height: 80vh;
        flex-direction: column;

        .tracking-info-wrapper {
            padding-bottom: 30px;            
        }

        .tracking-image {
            padding-left: 0px;
        }
    }

    .delivery-wrapper {
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .delivery-form {
            display: flex;
            justify-content: center;

            .method-example {
                width: 150px;
            }
    
            .delivery-container {
                width: 500px;
            }
        }

        .delivery-description {
            margin-top: 40px;
        }
    }

    .map-wrapper {
        height: 60vh;

        .map-image {
            width: 600px;
        }
    }

    .questions-wrapper {
        height: 55vh;

        .page-title {
            padding-top: 50px;
        }

        .main-title {
            padding-bottom: 25px;
        }

        .question-field {
            display: flex;
            justify-content: space-between;
            width: 600px;    
        }
    
        .q-line {
            width: 600px;
            border: 1px solid $primary-text;
        }
    }

    .final-page {
        height: 75vh;
        display: flex;
        align-content: center;


        .final-bg {
            width: 650px;
            height: 650px;
        }

        .final-container {
            width: 768px;
            display: flex;
            flex-direction: column;
            align-content: center;

            .final-wrapper {
                padding-left: 130px;
            }

            .final-image {
                width: 600px;
                padding-top: 20px;
            }
        }
    }

    .footer-wrapper {

        .footer-line {
            width: 700px;
        }

        .footer-container {
            gap: 130px;

            .footer-info-wrapper {
                gap: 20px;

            }
        }
    }
}